# top-level dirs for packages downloaded
bootstrap-v2.3.2
crossfilter
d3
datetimepicker-v2.1.9
font-awesome-v3.2.1
jnpr_slickgrid
joint-v0.9.0
joint-v0.9.2
jquery-contextMenu-v1.6.5
jquery.panzoom-v2.0.5
jquery-steps-1.1.0
jquery-ui-1.10.4
jquery-ui-multiselect-widget-1.13
jquery-validation-v1.11.1
knockout-v3.0.0
moment-v2.6.0
node_modules
nvd3
requirejs-v1.0.2
select2-v3.4.6
Sinon.JS
slickgrid.enhancement.pager
tristate

# All .woff files
*.woff

# Various individual .js files that land here
backbone-min.js
backbone-validation-amd.js
handlebars-v1.3.0.js
jquery-1.8.3.min.js
jquery-1.9.1.min.js
jquery.ba-bbq.min.js
jquery.dataTables.min.js
jquery.json-2.4.min.js
jquery.timer.js
jquery.ui.touch-punch.min.js
jquery.xml2json.js
jsonpath-0.8.0.js
knockback.min.js
knockout-3.0.0.js
require.js
text.js
underscore-min.js
xdate.js

# Other turds
backbone-min.map
underscore-min.map
